
<div class="container-fluid form-horizontal">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">
    <h4>Group - Edit Form</h4>
          </div>
      <div class="card-body">
    <form action="/group/edit/{{_id}}" method="post">
    
    
    <div class="form-group row">
        <label for="name" class ="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" id="name" name="name" class="form-control" value="{{name}}">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="groupDepartment" class ="col-sm-2 col-form-label">Group Department</label>
        <div class="col-sm-10">
            <input type="text" id="groupDepartment" name="groupDepartment" class="form-control" value="{{groupDepartment}}">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="city" class ="col-sm-2 col-form-label">City</label>
        <div class="col-sm-10">
            <input type="text" id="city" name="city" class="form-control" value="{{city}}">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="creationDate" class ="col-sm-2 col-form-label">Creation Date</label>
        <div class="col-sm-10">
            <input type="text" id="creationDate" name="creationDate" class="form-control" value="{{creationDate}}">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="country" class ="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-10">
            <input type="text" id="country" name="country" class="form-control" value="{{country}}">
        </div>
    </div>
    

    <div class="form-group row form-action">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </div>
    </form>
</div>
</div>
  </div>
</div>
<!-- <div>
    <a href="/group/index">Back to List</a>
</div> -->
