
<div class="container-fluid form-horizontal">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">
            <h4>Reporting - Details Form</h4>
      </div>
      <div class="card-body">
    
        
        <div class="row">
            <label for="firstname" class = "col-sm-2 col-form-label">Id</label>
            <div class="col-sm-10 label-detail">
              {{id}}
            </div>
        </div>
        
        <div class="row">
            <label for="firstname" class = "col-sm-2 col-form-label">Publication Date</label>
            <div class="col-sm-10 label-detail">
              {{publicationDate}}
            </div>
        </div>
        
        <div class="row">
            <label for="firstname" class = "col-sm-2 col-form-label">Content</label>
            <div class="col-sm-10 label-detail">
              {{content}}
            </div>
        </div>
        
        <div class="row">
            <label for="firstname" class = "col-sm-2 col-form-label">Type</label>
            <div class="col-sm-10 label-detail">
              {{type}}
            </div>
        </div>
        
        <div class="row">
            <label for="firstname" class = "col-sm-2 col-form-label">Results</label>
            <div class="col-sm-10 label-detail">
              {{results}}
            </div>
        </div>
        
        <div class="row">
            <label for="firstname" class = "col-sm-2 col-form-label">Views</label>
            <div class="col-sm-10 label-detail">
              {{views}}
            </div>
        </div>
        
        <div class="row">
            <label for="firstname" class = "col-sm-2 col-form-label">Id Card</label>
            <div class="col-sm-10 label-detail">
              {{idCard}}
            </div>
        </div>
        
<div class="row form-action">
    <div class="col-sm-10">
    <!-- <a href="/reporting/index">Back to List</a>-->
    <a class="btn btn-primary btn-sm" href="/reporting/edit/{{_id}}">Edit</a>
    </div>
</div>
</div>
    </div>
  </div>
</div>

